body {
    margin: 0px;
    background-color: #EDE7F5;
    font-family: 'Roboto', sans-serif;
}

.formTitle {
    font-size: 2.5em;
}

.questionName {
    font-size: 1.5em;
}

.questionOption {
    font-size: 1.0em;
    text-align: left;
}
.divHeader {
    border-bottom: 1px solid #747474;
    margin-bottom: 25px;
    padding: 1em 2em;
    &:focus {
        //border-left: 4px solid blue;   
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), inset 4px 0 0px blue;
    }
    &:focus-within {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), inset 4px 0 0px blue;
    }
}

.divQuestion {
    color: #747474;
    &:focus-within {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), inset 4px 0 0px blue;
    }
}

.focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), inset 4px 0 0px blue;
}

.item {
    position: relative;
    margin-bottom: 25px;
}

.grid {
    width: 40%;
    margin: 0 auto;
    background: white;
    display: grid;
    /*.divQuestion:focus,.divHeader {
        //border-left: 4px solid blue;   
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), inset 4px 0 0px blue;
    }*/
}

.subgrid {
    display: grid;
    grid-gap: 10px;
    padding: 1em 2em;
    &.formato1 {
        grid-template-columns: auto 200px;
    }
    &.formato2 {
        grid-template-columns: 80px auto 100px; //:nth-child(1)
        & div+div+div {
            text-align: center;
        }
        .fa-times {
            transition: 0.5s;
            -moz-transition: 0.5s;
            -webkit-transition: 0.5s;
            &:hover {
                transform: rotateZ(90deg);
                -moz-transform: rotateZ(90deg);
                -webkit-transform: rotateZ(90deg);
            }
        }
    }
    &.formato3 {
        grid-template-columns: 50% 50%;
    }
}

#saveButton {
    color: #7A5BBA;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    margin-right: 15px;
    float: right;
    border-radius: 3px;
    background-color: white;
    
}

//header
.top-container {
    background-color: #6642B0;
    height: 160px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.header {
    width: 100%;
    height: 40px;
    background: #6642B0;
    z-index: 2;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.content {
    width: 100%; //height: 2000px;
}

.teste {
    padding: 20px 0px 0px 0px;
    text-align: center;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    z-index: 3;
}

//INPUTS
/* form starting stylings ------------------------------- */

.formTitle,
.formDescription,
.questionName,
.questionOption {
    padding: 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    &:focus {
        outline: none;
        border: none;
    }
}

/* active state */

/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%;
    &::before {
        left: 50%;
    }
    &::after {
        right: 50%;
    }
    &::before,
    &::after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
}

/* active state */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

//SELECT
/* Reset Select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    width: 100%;
    height: 100%;
    padding: 0 0 0 .5em;
    color: black;
}

.select {
    border: 1px solid #747474;
    position: relative;
    display: block;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    &::-ms-expand {
        display: none;
    } //Arrow
    &::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 1em;
        background: white;
        pointer-events: none;
    }
    &:hover::after {
        color: #747474;
    } //Transition
    &::after {
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
    }
}

//Radio
.radioCustom {
    vertical-align: middle;
    opacity: 0;
    position: absolute;
}

.radio-custom-label {
    position: relative;
}

.radioCustom,
.radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.radio-custom-label:before {
    content: '';
    background: #fff;
    border: 3px solid #747474;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
}

//Menu Float
#menu {
    position: fixed;
    left: 72%;
    top: 40%;
    li {
        padding: 2px 2px 2px 2px;
        border: white 2px solid;
        background-color: white;
        list-style: none;
        a {
            color: #747474;
            text-decoration: none;
        }
    }
}